body,
body:before,
body:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
font-family: 'Primary';
src: url('.fonts/questrial.woff2') format('woff2'),
      url('./fonts/questrial.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

:root{
--primary: #ececec;
--secondary: #101010;
}
html{
font-size: calc(100vw / 1920 * 10);
}
body{
font-family: 'Primary';
background-color: var(--primary);
color: var(--secondary);
}
::-webkit-scrollbar{
display: none;
}
h1{
font-size: 24rem;
text-transform: uppercase;
}
span{
font-size: 2.4rem;
}

html.lenis {
height: auto;
}
.lenis.lenis-smooth {
scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
overscroll-behavior: contain;
}
.lenis.lenis-stopped{
overflow: hidden;
}
.lenis.lenis-scrolling iframe{
pointer-events: none;
}

section.hero{
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
z-index: 100;
}
.hero_wrapper{
display: flex;
align-items: center;
width: inherit;
height: inherit;
padding: 8rem;
}
.hero_bg {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: -1;
}
.hero_bg:after{
content: '';
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: var(--secondary);
opacity: 0.35;
}

.hero_bg img {
width: 100%;
height: 100%;
object-fit: cover;
filter: hue-rotate(30deg);
}

.hero_content{
display: flex;
flex: wrap;
align-items: center;
height: max-content;
gap: 2rem;
color: var(--primary);
}
.hero_content_title{
mix-blend-mode: overlay;
}

.hero_content_title:nth-child(1){
prefix: 40rem;
}

.hero_content_title:last-child{
prefix: 20rem;
}